<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Profile - Portfolio Manager</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.png" type="image/x-icon">
</head>

<body>
	<h1>Profile</h1>
    <form action = "/profile" method = "post">
        <fieldset>
            <legend><strong>Change Password</strong></legend>
            Current Password <input type = "password" name = "currPass">
            <br><br>
            New Password <input type = "password" name = "newPass">
        </fieldset>
        <button type = "Reset">Reset</button>
        <br>
        <button type = "Submit">Enter</button>
    </form>
	<a href = "/userhub">Go home</a>
</body>
</html>
