<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove Holding - Portfolio Manager</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.png" type="image/x-icon">
</head>

<body>
	<h1>Remove Holding</h1>
    <form action = "/removeHolding" method = "post">
        <fieldset>
            <legend><strong>Holding Information</strong></legend>
            Name <input type="text" name = "name" required>
            <br><br>
            <button type="reset">Reset</button>
            <br>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    <a href = "/userhub">Go home</a>
</body>
</html>
